<p id="notice"><%= notice %></p>


<h1><%= @post.title %></h1>
<p class="meta">
  Posted by: <%= @post.user.email %> On <%= @post.created_at %>
</p>
<div id="post-body">
  <%= @post.body %>
</div id="post-body">



<% if user_signed_in? && @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>
