<p id="notice"><%= notice %></p>


<h1 id="page-title"><%= @post.title %></h1>
<p class="meta">
  Posted by: <a href='#'><%= @post.user.username %></a> On <%= l @post.created_at %>
</p>
<div id="post-body">
  <%= @post.body %>
</div>



<% if user_signed_in? && @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
